.footer {
    background: linear-gradient(to bottom,rgb(11, 197, 217), rgb(90, 38, 123) ); /* Degradado */
    color: white;
}

.footer h5 {
    font-weight: bold;
    color: white;
}

.footer p {
    font-size: 14px;
    margin: 5px 0;
}

.social-icon {
    font-size: 24px;
    color: white;
    margin: 0 10px;
    transition: 0.3s;
}

.social-icon:hover {
    color: #ffc107; /* Amarillo en hover */
}

hr {
    border-color: rgba(255, 255, 255, 0.2);
}
.text-muted {
    color: white!important; /* Asegura que el texto sea blanco */
}